<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Umair Khan**

I am Student and I want to be a data scientist.

*I am interested in data science because i am curious about data and making it meaningful by using certain methods.*

### This code checks if number is even or odd

In [9]:
num=7
if num%2==0:
    print("Number is even")
else:
    print("Number is odd")

Number is odd

Horizontal Rule
***
Table
<table>
    <tr><td>1</td><td>1</td><td>1</td></tr>
    <tr><td>2</td><td>2</td><td>1</td></tr>
    <tr><td>8</td><td>5</td><td>7</td></tr>
</table>

Hyperlink
[ Google](https://www.google.com)